
.container{
    width:960px;
    margin:0 auto;
}

.header{
    width:auto;
    height:100px;
}
.menu{
    width:auto;
    height:50px;
    background-color:flavor;
}
.content{
    width:auto;
}
.footer{
    width:auto;
    height:100px;
}
.pnl-inside{
    border-radius: 10px;
    height: 27%;
    width: 100%;
    padding: 5px;
    background-color: #222222;

}
.row-height{
    position: relative;
}
.column-height{
    position: absolute;
}
.pnl-title{
    width: 100%;
    height: 20%;

   
}
.pnl-descrip{
    top: 5px;
    height: 100%;
    display: inline-block;

}
.btn-descrip{
   
    
    border-radius: 5px;
    border-color: #d1c338;
 
    height: 90%;
    width: 100%;
    font-size: 16px;
    font: bold;
    border: 1px solid;
    background: url(arrow.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d1c338;
    max-width: 15px;


}
.txt-descrip{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px; 

 
  
   
}
.br-size{
    line-height: 1px;

}


.pnl-box{
    width:100%;
    height: 450px;
    background-color: #d1c338;
    border-radius: 10px;
    padding: 10px;
}
.txt-title{
    text-align: center;   
    font-size: 45px;
    color: #d1c338;
    font: bold;
    font-family: 'Alfa Slab One'; 

}
.title-default{
    text-align: center;   
    font-size: 36px;
    color: #d1c338; 
    font-family: 'Alfa Slab One';   
    
}
.title-box{
     text-align: left;   
    font-size: 26px;
    color: black;
    font: bold;
    font-family: 'Alfa Slab One'; 
}
.pnl-left{
    background-color: #222222;
    height: 100%;
    width: auto;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login-title{
    font-size: 22px;
    text-align: center;
    color:  #222222;

}
.login{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
}
.login input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #d1c338;
    width: 100%;
    border: 1px solid Black;
    padding: 15px;
    color: #222222;
    font-size: 22px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}